$primary-color: #FCEED5;
$secondary-color: #003459;
$third-color: #00A7E7;

$background-color: #FDFDFD;
$text-color: #003459;

$padding: 1rem;
$margin: 1rem;

$font-size-base: 12px;
$font-family-base: 'Gilroy', sans-serif;
